<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399751443280-s4kptrniolpjdpj78tf64a785tqratot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399751443280-s4kptrniolpjdpj78tf64a785tqratot</string>
	<key>API_KEY</key>
	<string>AIzaSyANHX9AW-r43rZiT-7kmHUmd-HCmPd2w_w</string>
	<key>GCM_SENDER_ID</key>
	<string>399751443280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svindland.liftTrack</string>
	<key>PROJECT_ID</key>
	<string>lifttrack-92082</string>
	<key>STORAGE_BUCKET</key>
	<string>lifttrack-92082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399751443280:ios:c3c6cae32befcca3443255</string>
</dict>
</plist>