<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799108724870-7a9s350m7c242ani9f04ddg7hthoccuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799108724870-7a9s350m7c242ani9f04ddg7hthoccuh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799108724870-bha47s9p9tt8hgoklt66i7e9e3pc9253.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVeYz5tEz6xtu_BPBMNZBxZnUw6gzFPgw</string>
	<key>GCM_SENDER_ID</key>
	<string>799108724870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svindland.liftTrack</string>
	<key>PROJECT_ID</key>
	<string>liftTrack-c8f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>liftTrack-c8f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799108724870:ios:21b9b5ee4a33041ae47907</string>
</dict>
</plist>